.menu__container{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 7em;
    height: 7em;
    border-radius: 50%;
    border: none;
    outline: none;
}

.menu__container:hover{
    background-color: rgb(61, 61, 232);
}
