.header__container{
    position: absolute;
    bottom: 1em;
    left: 2em;
    right: 2em;
    /* background-color: red; */
    overflow: hidden;
    transition: width 2s ease;
}

.menu__cardholder{
    width: 100%;
    height: 15em;
    /* background-color: aquamarine; */
}

.menu__container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5em;
}

.menu__card{
    width: 30%;
    height: 90%;
    background-color: black;
    border-radius: .4em;
}