.container{
    width: 100%;
    height: 100%;
    /* margin-top: 1em; */
}

.slider{
    display: flex;
    height: 100%;
    gap: .3em;
}

.slide{
    background-color: black;
    width: 1em;
    border-radius: .3em;
    transition: all 1s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.active{
    width: 15em;
    background-color: aqua;
    font-size: 2rem;
    /* padding: 1em; */
}